<app-header></app-header>
<app-navbar></app-navbar>
<app-searchbar></app-searchbar>
<div class="container">
<app-filter></app-filter>
    <div class="wrapper">
        <app-card-product></app-card-product>
        <app-card-product></app-card-product>
        <app-card-product></app-card-product>
        <app-card-product></app-card-product>
        <app-card-product></app-card-product>
        <app-card-product></app-card-product>
        <app-card-product></app-card-product>
        <app-card-product></app-card-product>
        <app-card-product></app-card-product>
    </div>
</div>

<app-small-banner></app-small-banner>
<app-footer></app-footer>
