.filter {
    height: 400px;
    width: 300px;
    // border: 1px solid green;
    background-color: #F6F9FB;
    margin: 20px;
    padding: 10px;

    input {
        gap: 5px;
    }


}

.wrapper-sort-results{
    display: flex;
    flex-direction: row;
}

.sort {
    display: flex;
    flex-direction: row;
}