.filter {
  height: 400px;
  width: 300px;
  background-color: #f6f9fb;
  margin: 20px;
  padding: 5px;

  .checkbox-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    label {
      padding-left: 5px;
    }
  }
}
