.filter {
    height: 400px;
    width: 300px;
    // border: 1px solid green;
    background-color: #F6F9FB;
    margin: 10px;
    padding: 10px;
    gap: 10px;

    input {
        gap: 5px;
    }
}