mat-card {
    width: 210px;
    height: 400px;
    display: flex;
    align-items: center;

    img {
        width: auto;
        height: 250px;
    }

    mat-card-content {
        font-size: 13px;
        font-weight: 300;
    }

    .card-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100% - 250px - 13px);
    }

    .view-more-button {
        color: var(--customGray);
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
    }
}