<table class="table-data">
    <div class="info-product">
        <p>Info</p>
        <tr>
            <td>Listing Numbers</td>
            <td>6D9CA9</td>
        </tr>
        <tr>
            <td>Reference Numbers</td>
            <td>6D9CA6</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Rolex</td>
        </tr>
        <tr>
            <td>Model</td>
            <td>Submariner Date</td>
        </tr>
    </div>
</table>
<table class="table-data">
    <div class="info-product">
        <p>Caliber</p>
        <tr>
            <td>Movevemnt</td>
            <td>Automatic</td>
        </tr>
        <tr>
            <td>Movement/Caliber</td>
            <td>3135</td>
        </tr>
        <tr>
            <td>Power reserve</td>
            <td>48 h</td>
        </tr>
    </div>
</table>
<table class="table-data">
    <div class="info-product">
        <p>Case</p>
        <tr>
            <td>Listing Numbers</td>
            <td>6D9CA9</td>
        </tr>
        <tr>
            <td>Reference Numbers</td>
            <td>6D9CA6</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Rolex</td>
        </tr>
        <tr>
            <td>Model</td>
            <td>Submariner Date</td>
        </tr>
    </div>
</table>
<table class="table-data">
    <div class="info-product">
        <p>Strap</p>
        <tr>
            <td>Bracelet material</td>
            <td>Steel</td>
        </tr>
        <tr>
            <td>Bracelet color</td>
            <td>Steel</td>
        </tr>
        <tr>
            <td>Clasp</td>
            <td>Fold Clasp</td>
        </tr>
        <tr>
            <td>Clasp material</td>
            <td>Steel</td>
        </tr>
    </div>
</table>