  <!-- Footer -->
  <footer>
    <div class="row-footer">
        <div class="footer-col">
            <h4 class="title-columns">
                <i class="fa-sharp fa-solid fa-circle"></i> The Footer
            </h4>
            <ul class="ul-footer">
                <li class="li-footer">
                    <a href="#">
                        <span>2022 The Website, Inc</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-col">
            <h4 class="title-columns">About</h4>
            <ul class="ul-footer">
                <li class="li-footer">
                    <a href="#">Team</a>
                </li>
                <li class="li-footer">
                    <a href="#">Jobs</a>
                </li>
                <li class="li-footer">
                    <a href="#">Blog</a>
                </li>
                <li class="li-footer">
                    <a href="#">Press</a>
                </li>
            </ul>
        </div>
        <div class="footer-col">
            <h4 class="title-columns">Help</h4>
            <ul class="ul-footer">
                <li class="li-footer">
                    <a href="#">FAQ</a>
                </li>
                <li class="li-footer">
                    <a href="#">Security</a>
                </li>
                <li class="li-footer">
                    <a href="#">Terms of service</a>
                </li>
                <li class="li-footer">
                    <a href="#">Privacy Policy</a>
                </li>
            </ul>
        </div>
        <div class="footer-col">
            <h4 class="title-columns">Connect</h4>
            <ul class="ul-footer">
                <li class="li-footer">
                    <a href="https://www.facebook.com/">Facebook</a>
                </li>
                <li class="li-footer">
                    <a href="https://www.youtube.com/">YouTube</a>
                </li>
                <li class="li-footer">
                    <a href="https://twitter.com/">Twitter</a>
                </li>
                <li class="li-footer">
                    <a href="https://www.instagram.com/">Instagram</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="./src/header.js"></script>
    <script src="./src/index.js"></script>
</footer>