mat-toolbar {
  height: 60px;
  width: auto;
  display: flex;
  justify-content: center;
  background-color: white;

  .wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
  }
  span {
    font-size: 13px;
    font-weight: 400;
  }

  a {
    text-decoration: none;
    color: var(--desaturatedBlue);
  }

  a:first-child {
    text-decoration: none;
    color: blue;
  }

  span:hover,
  a:hover {
    color: var(--customGreen);
  }
}
