.container {
    width: 0 auto;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F9FB;
    flex-direction: row;
    gap: 10px;

   input {
    width: 500px;
    height: 35px;
    border-color: transparent;
   }

    .button {
        background-color: green;
    }
}
