<mat-toolbar class="header">
  <div class="wrapper">
    <div class="logo">
      <span
        ><a routerLink="/dashboard"
          ><span class="material-symbols-outlined"> alarm </span>Watch Shop</a
        ></span
      >
    </div>
    <div class="navigation-links">
      <span
        ><a routerLink="/"
          ><span class="material-symbols-outlined"> shopping_cart </span>Your
          Cart</a
        ></span
      >
      <span
        ><a routerLink="/register"
          ><span class="material-symbols-outlined"> account_circle </span
          >Register</a
        ></span
      >
      <span
        ><a routerLink="/login"
          ><span class="material-symbols-outlined"> input </span>Login</a
        ></span
      >
    </div>
  </div>
</mat-toolbar>
