mat-toolbar {
  display: flex;
  justify-content: center;
  background-color: #243143;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
  }

  .navigation-links {
    display: flex;
    gap: 20px;
 }

  a {
    color: #b3c4d4;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
  }
}
