<app-header></app-header>
<app-navbar></app-navbar>
<app-searchbar></app-searchbar>
<app-breadcrumb-menu></app-breadcrumb-menu>
<div class="container-first">
  <div class="container">
    <div class="wrapper">
      <div class="wrapper-images">
        <div class="big-image">
          <img src="/assets/images/green-watch.png" />
        </div>
        <div class="images">
          <img src="/assets/images/hand-watch.png" />
          <img src="/assets/images/hand-watch.png" />
          <img src="/assets/images/hand-watch.png" />
          <img src="/assets/images/hand-watch.png" />
        </div>
      </div>

      <div class="product-details">
        <h4>Details</h4>
        <p>
          Launched in 1956, the Day Date made its debut as the first waterproof
          and self winding chronometre swritwatch to offer a moden calendar with
          an instantneous day d isplay, spelt out in a full in a window on the
          dial, in additon to the date.
          <br>
          The exceptional precision, reliability, legibility and presence of this prestigious model has made it the ultimate status watch.
        </p>
      </div>

      <div class="product-info">
        <h4>Info & Stats</h4>
      </div>
      <app-table-info></app-table-info>
    </div>
    <div class="details-info">
      <div class="wrapper-info">
        <p>Rolex Day-Date 36</p>
        <p>$21.000.00</p>
        <button>Add to my cart</button>
        <p>Details</p>
        <p>Info & Stats</p>
      </div>
    </div>
  </div>
</div>

<app-section-carousel-two></app-section-carousel-two>
<app-footer></app-footer>
