.container-first {
  width: auto;
  display: flex;
  justify-content: center;
  background-color: white;
}
.container {
  display: flex;
  flex-direction: row;
  width: 1000px;
  gap: 30px;
}

.wrapper {
  width: 600px;
  // border: 1px solid green;
}
.wrapper-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.big-image img {
  width: 600px;
  height: 450px;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.images img {
  width: 125px;
  height: 125px;
  border: 0.5px solid lightgray;
}

.images {
  display: flex;
  flex-direction: row;
}

.wrapper-info {
  padding: 10px;
}
