<app-header></app-header>
<app-navbar></app-navbar>
<app-searchbar></app-searchbar>
<app-breadcrumb-menu></app-breadcrumb-menu>

<div class="container-first">
  <div class="container">
    <div class="wrapper">
      <div class="wrapper-images">
        <div class="big-image">
          <img [src]="selectedImage" *ngIf="selectedImage" />
        </div>
        <div class="images">
          <img
            *ngFor="let photo of product.photos"
            [src]="photo"
            (click)="selectImage(photo)"
          />
        </div>
      </div>

      <div class="product-details">
        <h4>Details</h4>
        <p>{{ product.description }}</p>
      </div>
      <div class="product-info">
        <h4>Info & Stats</h4>
      </div>
      <!-- <app-table-info></app-table-info> -->
    </div>
  </div>
  <app-product-details-box-info
    [product]="product"
  ></app-product-details-box-info>
</div>
<!-- <app-section-carousel-two></app-section-carousel-two> -->
<app-footer></app-footer>
