<div class="container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Reset Password</mat-card-title>
      </mat-card-header>
  
      <div class="loginComponent">
        <div class="formGroup">
          <mat-form-field apperance="outline" hideRequiredMarker="true">
            <mat-label>Email</mat-label>
            <input
              class="formControl"
              matInput
              placeholder="email@example.com"
              type="email"
              #passwordResetEmail
              required
            />
          </mat-form-field>
        </div>
        <div class="formGroup">
          <mat-card-content>
            <mat-card-actions>
              <button
                class="center-button btn googleBtn"
                mat-raised-button
                color="primary"
                type="button"
                (click)="authService.ForgotPassword(passwordResetEmail.value)"
              >
                Reset
            </button>
            </mat-card-actions>
          </mat-card-content>
        </div>
      </div>
  
      <mat-card-footer>
        Go back to?
        <a routerLink="/login">Login</a>
      </mat-card-footer>
      
    </mat-card>
  </div>
  