<h1> Welcome to Watchshop</h1>

<ol>
    <li>
        <a routerLink="/">Home</a>/
    </li>
    <li>
        <a routerLink="/login">Login</a>
    </li>
    <li>
        <a routerLink="/register">Register</a>
    </li>
    <li>
        <a routerLink="/products">Products</a>
    </li>
    <li>
        <a routerLink="/product-details">Product details</a>
    </li>
    <li>
        <a routerLink="/search-bar">Search Bar</a>
    </li>
    <li>
        <a routerLink="/site-map">SiteMap</a>
    </li>
</ol>
