.wrapper {
    width: auto;
    height: auto 550px;
    background-color: #F6F9FB;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 3px solid green;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        p:first-child {
            text-transform: uppercase;
            color: black;
            font-size: 16px;
            font-weight: 200;
        }

        p:nth-of-type(2) {
            color: var(--customGray);
            font-size: 15px;
            font-weight: 200;
        }
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        width: 1000px;
        // border: 2px solid red;

        app-card-v3 {
            width: 25%;
            display: flex;
            justify-content: center;
            padding: 20px;
        }
    }
}