.container {
    display: flex;
    flex-direction: row;
    background-color: #fafafa;

    .wrapper-cards {
        h1 {
            margin-left: 20px;
        }
    }

    .wrapper-sort-results {
        display: flex;
        gap: 10px; 
        margin-left: 20px;
    }

    .wrapper-products {
        // border: 1px solid blue;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

}

