<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <div class="loginComponent">
      <div class="formGroup">
        <mat-form-field apperance="outline" hideRequiredMarker="true">
          <mat-label>Email</mat-label>
          <input
            class="formControl"
            matInput
            placeholder="email@example.com"
            type="email"
            #userName
            required
          />
        </mat-form-field>
      </div>

      <div class="formGroup">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input class="formControl" matInput type="password" #userPassword required />
        </mat-form-field>
      </div>

      <div class="formGroup">
        <mat-card-content>
          <mat-card-actions>
            <button
              class="center-button btn googleBtn"
              mat-raised-button
              color="primary"
              type="button"
              (click)="authService.SignIn(userName.value, userPassword.value)"
            >
              Login
            </button>
<span>Or</span>
            <button
            class="center-button btn googleBtn"
            mat-raised-button
            color="primary"
            type="button"
            (click)="authService.GoogleAuth()"
          >
            Login with Google
          </button>
          </mat-card-actions>
        </mat-card-content>
      </div>
    </div>
    <mat-card-footer>
      Forgot Password?
      <a routerLink="/forgot-password">Click to reset</a>
    </mat-card-footer>

    <mat-card-footer>
      Don't have an account?
      <a routerLink="/register">Register</a>
    </mat-card-footer>
  </mat-card>
</div>
