.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

mat-card {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field {
    display: flex;
    flex-direction: column;


}

.message {
    background-color:#6DBD70;
}