<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>SignUp</mat-card-title>
    </mat-card-header>

    <div class="formGroup">
      <mat-card-content>
        <div class="formGroup">
          <mat-form-field apperance="outline" hideRequiredMarker="true">
            <mat-label>Email</mat-label>
            <input
              matInput
              class="formControl"
              placeholder="email@example.com"
              type="email"
              required
              #userEmail
            />
          </mat-form-field>
        </div>

        <div class="formGroup">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              class="formControl"
              matInput
              type="password"
              required
              #userpwd
            />
          </mat-form-field>
        </div>

        <div class="formGroup">
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input
              class="formControl"
              matInput
              type="password"
              required
              #userPwd
            />
          </mat-form-field>
        </div>

        <div class="formGroup">
          <mat-card-actions>
            <button
              class="center-button"
              mat-raised-button
              color="primary"
              type="submit"
              (click)="authService.SignUp(userEmail.value, userPwd.value)"
            >
              Submit
            </button>
          </mat-card-actions>
        </div>
      </mat-card-content>
    </div>

    <mat-card-footer>
      Already have an account?
      <a routerLink="/login">Login</a>
    </mat-card-footer>
  </mat-card>
</div>
