:root {
    --desaturatedBlue: #243142;
    --customGray: #b3c4d4;
    --customWhite: #e9eaeb;
    --customGreen: #66bb6a;
    --customYellow: #FBC02D;
    --customMask:rgba(36, 49, 66, 0.5);
}

body {
    background-color: #dfe9f2;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}


/* Container Product  */
.container-product {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}
/* Cart Items Details  */

.small-container {
    width: 1000px;
}

.cart-page {
    margin: 80x auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #FFFFFF;
    background-color: var(--desaturatedBlue);
    font-weight: 400;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color:var(--desaturatedBlue);
    font-size: 13px;
}

.img-product-cart {
    width: 80px;
    height: 80px;
    margin: 10px
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid var(--desaturatedBlue);
    max-width: 400px;
    
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}
