<app-header></app-header>
<app-navbar></app-navbar>
<!-- Container Product  -->
          <div class="container-product">
            <!-- Cart Items Details  -->
            <div class="small-container cart-page">
                <table>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="cart-info">
                                <img src="/images/hand-watch.png" alt="" class="img-product-cart">
                                <div>
                                    <p>Black Watch S22</p>
                                    <small>Price: $50.00</small>
                                    <br>
                                    <a href="">Remove</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="number" value=1 min="1">
                        </td>
                        <td>$50.00$</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="cart-info">
                                <img src="/images/hand-watch.png" alt="" class="img-product-cart">
                                <div>
                                    <p>Black Watch S22</p>
                                    <small>Price: $50.00</small>
                                    <br>
                                    <a href="">Remove</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="number" value=1 min="1">
                        </td>
                        <td>$50.00$</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="cart-info">
                                <img src="/images/GreenWatchBig.png" alt="" class="img-product-cart">
                                <div>
                                    <p>Green Watch S22</p>
                                    <small>Price: $150.00</small>
                                    <br>
                                    <a href="">Remove</a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="number" value=1 min="1">
                        </td>
                        <td>$150.00$</td>
                    </tr>
                </table>
                <div class="total-price">
                    <table>
                        <tr>
                            <td>Subtotal</td>
                            <td>$250.00</td>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td>$30.00</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>$280.00</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <app-small-banner></app-small-banner>
        <app-footer></app-footer>