<!-- Hero Banner with SearchBar  -->
<div class="hero-container">
    <div class="mask">
      <div class="inner-container">
        <p class="p1-hero">
          Hero image headline text goes here. <br />
          Promote a product and the follow with a call to action! <br />
        </p>
        <p class="p2-hero">Subtitle with a call to action label goes here.</p>
        <div>
          <input
            type="text"
            class="search-input"
            placeholder="Search a product"
          />
          <button type="submit" class="search-button">Search</button>
        </div>
      </div>
    </div>
  </div>