.container {
    display: flex;
    gap: 20px;
}
mat-card {
    width: 210px;
    height: 325px;
    display: flex;
    // justify-content: center;
    align-items: center;

    img {
        width: 210px;
        height: 150px;
    }

    mat-card-title {
        font-size: 13px;
        font-weight: 600;
    }

    mat-card-content {
        font-size: 13px;
        display: flex;
        text-align: center;
        font-weight: 200;
    }
    
    .wrapper {
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}