<div class="container">
    <mat-card>
        <img mat-card-image src="/assets/images/img-2watches-card.png" alt="image">
        <div class="wrapper">
            <mat-card-title>PRODUCT TITLE</mat-card-title>
            <mat-card-content>Text excerpt for this content card goes here to tease users.</mat-card-content>
            <mat-card-actions>
                <button mat-raised-button>View More</button>
            </mat-card-actions>
        </div>
    </mat-card>    <mat-card>
        <img mat-card-image src="/assets/images/img-2watches-card.png" alt="image">
        <div class="wrapper">
            <mat-card-title>PRODUCT TITLE</mat-card-title>
            <mat-card-content>Text excerpt for this content card goes here to tease users.</mat-card-content>
            <mat-card-actions>
                <button mat-raised-button>View More</button>
            </mat-card-actions>
        </div>
    </mat-card>    <mat-card>
        <img mat-card-image src="/assets/images/img-2watches-card.png" alt="image">
        <div class="wrapper">
            <mat-card-title>PRODUCT TITLE</mat-card-title>
            <mat-card-content>Text excerpt for this content card goes here to tease users.</mat-card-content>
            <mat-card-actions>
                <button mat-raised-button>View More</button>
            </mat-card-actions>
        </div>
    </mat-card>
    <mat-card>
        <img mat-card-image src="/assets/images/img-2watches-card.png" alt="image">
        <div class="wrapper">
            <mat-card-title>PRODUCT TITLE</mat-card-title>
            <mat-card-content>Text excerpt for this content card goes here to tease users.</mat-card-content>
            <mat-card-actions>
                <button mat-raised-button>View More</button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>
