<mat-card *ngIf="productData" class="card-product">
    <div class="wrapper-image">
        <img mat-card-image [src]="item.photos[0]" alt="image">
    </div>
    <div class="card-info">
        <mat-card-title class="product-title"> {{item.name}} </mat-card-title>
        <mat-card-title class="product-price"> {{item.price}} lei</mat-card-title>
    </div>
   <mat-card-actions class="card-actions">
    <a routerLink="/product-details/{{item.id}}">
        <button mat-flat-button class="action-button">View details</button>
    </a>
    <button mat-flat-button class="action-button">Add to cart</button>
   </mat-card-actions>
</mat-card>
