<mat-card class="card-product">
    <img mat-card-image src="https://i.ibb.co/S6cBC0h/Yazole.png" alt="image">
    <div class="card-info">
        <mat-card-title class="product-title"> {{ product.title }} </mat-card-title>
        <mat-card-title class="product-price">{{ product.price }} lei</mat-card-title>
    </div>
   <mat-card-actions class="card-actions">
    <button mat-flat-button class="action-button">View details</button>
    <button mat-flat-button class="action-button">Add to cart</button>
   </mat-card-actions>
</mat-card>
